body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 20px;
  font-weight: bold;
  background-color: rgb(152, 34, 34);
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: antiquewhite;
}

.container div {
  margin: 10px 0;
  font-weight: bold;
}
.title {
  font-size: 35px;
  font-weight: bold;
}
.or {
  font-size: 19px;
}
.logout {
  color: white;
  text-decoration: none;
}
.logout:hover {
  text-decoration: underline;
}

.container button {
  background-color: rgb(152, 34, 34);
  border: none;
  font-size: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.date-picker {
  font-size: 19px;
}
.date-selector {
  padding: 7px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.unit-input {
  font-size: 19px;
}
.unit-selector{
  padding: 7px;
  margin-left: 5px;
}
.add-exercise {
  background-color: rgb(152, 34, 34);
  border: none;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.log-workout {
  background-color: rgb(5, 85, 17);
  border: none;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}
.workout-logger {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reps-weight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 200px
}
.add-set {
  background-color: rgb(5, 85, 17);
  border: none;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
}
.delete-set {
  background-color: rgb(152, 34, 34);
  border: none;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-weight: bold;
  margin-left: 3px;
}
.workout-logs {
  display: flex;

}
.workout-log {
  margin-right: 80px;
}